@model SmartAdmin.WebUI.ViewModels.TakePartViewModel

@{
    ViewData["Title"] = "Groups";
    ViewData["PageName"] = "eventovo_takepart";
    ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Weź udział w wydarzeniu";
    ViewData["Category1"] = "Eventovo";
}
@section HeadBlock {}

@using (Html.BeginForm("TakePart", "Eventovo", FormMethod.Post))
{
    @Html.HiddenFor(x => x.EventId)

    @for (int i = 0; i < Model.Dates.Count; i++)
    { 
        <input type="hidden" asp-for="@Model.Dates[i].Date" value="@Model.Dates[i].Date" />       
    }

    <div style="margin-bottom: 5px; display: -webkit-box; -webkit-box-orient: horizontal;" class="row panel">
        <div class="col-xl-12">
            <div class="panel-content" style="margin-top:15px;">
                <h3>Wybierz pasujący Ci termin</h3>
                <div class="frame-wrap">
                    <table class="table m-0 mylist">
                        <thead>
                            <tr>
                                @foreach (var date in Model.Dates)
                                {
                                    <th>@date.ToShortDateString()</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @for (int i = 0; i < Model.Dates.Count; i++)
                                {
                                    <td>
                                        <input type="checkbox" asp-for="@Model.SelectedDates[i].Selected" />
                                        <input type="hidden" asp-for="@Model.SelectedDates[i].Date" value="@Model.Dates[i].Date" />
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>

                    @if (ViewBag.Message != null)
                    {
                        <div>
                            <p>@ViewBag.Message</p>
                        </div>
                    }
                </div>
            </div>
            <div class="panel-content" style="margin-top:15px;padding:10px;">
                <button type="button" class="btn btn-light waves-effect waves-themed" onclick="location.href = '/Eventovo/MyEvents';">Wróć</button>
                <button class="btn btn-primary ml-auto waves-effect waves-themed" type="submit">Zapisz</button>
            </div>
        </div>
    </div>
}