@model PagingList<SmartAdmin.WebUI.Data.Models.Event>
@{
    ViewData["Title"] = "Czas na wydarzenia!";
    ViewData["PageName"] = "events_eventslist";
    ViewData["Heading"] = "<i class='fal fa-clock text-primary'></i> Czas na wydarzenia!";
    ViewData["Category1"] = "events";
    //ViewData["PageDescription"] = "Documentation and examples for opt-in styling of tables (given their prevelant use in JavaScript plugins) with Bootstrap.";

    //ViewData["Title"] = "EventsList";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    SmartAdmin.WebUI.Models.EventsListFilterModel filters = ViewData["filters"] as SmartAdmin.WebUI.Models.EventsListFilterModel;
}

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        // combo
        $('.combo_filtr').multiselect({
            includeSelectAllOption: true,
            buttonClass: 'combo_filtr button_combo_filtr',
            //buttonWidth: '220px',
            maxHeight: 300
        });
    })
</script>

<div class="row">

    <div class="col-lg-12 col-xl-12">

        <form asp-page="/EventsList" method="get">

            <div id="panel-8" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Te wydarzenia mogą być z Twoim udziałem!
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">

                        <input type="hidden" asp-for="@filters.sortColumn" />
                        <input type="hidden" asp-for="@filters.pageIndex" value="1" />

                        <a asp-page="/events/EventsList"
                           type="submit" class="btn btn-warning" style="width: 120px; padding: 5px !important;"
                           asp-route-filters.pageIndex="@filters.pageIndex"
                           asp-route-filters.sortColumn="@filters.sortColumn"
                           asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                           asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                           asp-route-filters.filterTitle="@filters.filterTitle"
                           asp-route-filters.filterDesc="@filters.filterDesc"
                           asp-route-filters.filterPlace="@filters.filterPlace"
                           asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                           asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                           asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                           asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                           asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                           asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                            <span class="fal fa-search-plus mr-1"></span>
                            Filtruj
                        </a>
                        <a asp-page="/EventsList" type="button" class="btn btn-danger" style="width: 120px; padding: 5px !important;">
                            <span class="fal fa-times mr-1"></span>
                            Wyczyść filtry
                        </a><br />

                        @*<a asp-page="/Index">Wyczyść filtry</a>*@

                        <div class="table-responsive-sm">
                            <table class="table table-bordered m-0 table-hover">
                                <thead class="bg-info-300 throw_filter">
                                    <tr>
                                        <th>
                                            <a class="th_btn" asp-page="/EventsList"
                                               asp-route-filters.pageIndex="@filters.pageIndex"
                                               asp-route-filters.sortColumn="@(filters.sortColumn == "Id" ? "Id_d" : "Id")"
                                               asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterTitle="@filters.filterTitle"
                                               asp-route-filters.filterDesc="@filters.filterDesc"
                                               asp-route-filters.filterPlace="@filters.filterPlace"
                                               asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                                               asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                                               asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                                               asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                                               asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                                               asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                                                Id
                                            </a>
                                        </th>
                                        <th>
                                            <a class="th_btn" asp-page="/EventsList"
                                               asp-route-filters.pageIndex="@filters.pageIndex"
                                               asp-route-filters.sortColumn="@(filters.sortColumn == "Data" ? "Data_d" : "Data")"
                                               asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterTitle="@filters.filterTitle"
                                               asp-route-filters.filterDesc="@filters.filterDesc"
                                               asp-route-filters.filterPlace="@filters.filterPlace"
                                               asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                                               asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                                               asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                                               asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                                               asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                                               asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                                                Data
                                            </a>
                                        </th>
                                        <th>
                                            <a class="th_btn" asp-page="/EventsList"
                                               asp-route-filters.pageIndex="@filters.pageIndex"
                                               asp-route-filters.sortColumn="@(filters.sortColumn == "Title" ? "Title_d" : "Title")"
                                               asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterTitle="@filters.filterTitle"
                                               asp-route-filters.filterDesc="@filters.filterDesc"
                                               asp-route-filters.filterPlace="@filters.filterPlace"
                                               asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                                               asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                                               asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                                               asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                                               asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                                               asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                                                Tytuł
                                            </a>
                                        </th>
                                        <th>
                                            <a class="th_btn" asp-page="/EventsList"
                                               asp-route-filters.pageIndex="@filters.pageIndex"
                                               asp-route-filters.sortColumn="@(filters.sortColumn == "Description" ? "Description_d" : "Description")"
                                               asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterTitle="@filters.filterTitle"
                                               asp-route-filters.filterDesc="@filters.filterDesc"
                                               asp-route-filters.filterPlace="@filters.filterPlace"
                                               asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                                               asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                                               asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                                               asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                                               asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                                               asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                                                Opis
                                            </a>
                                        </th>
                                        <th>
                                            <a class="th_btn" asp-page="/EventsList"
                                               asp-route-filters.pageIndex="@filters.pageIndex"
                                               asp-route-filters.sortColumn="@(filters.sortColumn == "Place" ? "Place_d" : "Place")"
                                               asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterTitle="@filters.filterTitle"
                                               asp-route-filters.filterDesc="@filters.filterDesc"
                                               asp-route-filters.filterPlace="@filters.filterPlace"
                                               asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                                               asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                                               asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                                               asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                                               asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                                               asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                                                Miejsce
                                            </a>
                                        </th>
                                        <th>
                                            <a class="th_btn" asp-page="/EventsList"
                                               asp-route-filters.pageIndex="@filters.pageIndex"
                                               asp-route-filters.sortColumn="@(filters.sortColumn == "Price" ? "Price_d" : "Price")"
                                               asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterTitle="@filters.filterTitle"
                                               asp-route-filters.filterDesc="@filters.filterDesc"
                                               asp-route-filters.filterPlace="@filters.filterPlace"
                                               asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                                               asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                                               asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                                               asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                                               asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                                               asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                                                Koszt
                                            </a>
                                        </th>
                                        <th>
                                            <a class="th_btn" asp-page="/EventsList"
                                               asp-route-filters.pageIndex="@filters.pageIndex"
                                               asp-route-filters.sortColumn="@(filters.sortColumn == "Time" ? "Time_d" : "Time")"
                                               asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterTitle="@filters.filterTitle"
                                               asp-route-filters.filterDesc="@filters.filterDesc"
                                               asp-route-filters.filterPlace="@filters.filterPlace"
                                               asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                                               asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                                               asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                                               asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                                               asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                                               asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                                                Czas
                                            </a>
                                        </th>
                                        <th>
                                            <a class="th_btn" asp-page="/EventsList"
                                               asp-route-filters.pageIndex="@filters.pageIndex"
                                               asp-route-filters.sortColumn="@(filters.sortColumn == "People" ? "People_d" : "People")"
                                               asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterTitle="@filters.filterTitle"
                                               asp-route-filters.filterDesc="@filters.filterDesc"
                                               asp-route-filters.filterPlace="@filters.filterPlace"
                                               asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                                               asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                                               asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                                               asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                                               asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                                               asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                                                Osoby
                                            </a>
                                        </th>
                                        <th>
                                            <a class="th_btn" asp-page="/EventsList"
                                               asp-route-filters.pageIndex="@filters.pageIndex"
                                               asp-route-filters.sortColumn="@(filters.sortColumn == "Tags" ? "Tags_d" : "Tags")"
                                               asp-route-filters.filterDateFrom="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterDateTo="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))"
                                               asp-route-filters.filterTitle="@filters.filterTitle"
                                               asp-route-filters.filterDesc="@filters.filterDesc"
                                               asp-route-filters.filterPlace="@filters.filterPlace"
                                               asp-route-filters.filterPriceFrom="@filters.filterPriceFrom"
                                               asp-route-filters.filterPriceTo="@filters.filterPriceTo"
                                               asp-route-filters.filterTimeFrom="@filters.filterTimeFrom"
                                               asp-route-filters.filterTimeTo="@filters.filterTimeTo"
                                               asp-route-filters.filterPeopleFrom="@filters.filterPeopleFrom"
                                               asp-route-filters.filterPeopleTo="@filters.filterPeopleTo">
                                                Tagi
                                            </a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <input asp-for="@filters.filterDateFrom" type="date" placeholder="Od" id="tbxDateFrom" class="form-control tbx_filtr" value="@(filters.filterDateFrom?.ToString("yyyy-MM-dd"))" />
                                            <input asp-for="@filters.filterDateTo" type="date" placeholder="Do" id="tbxDateTo" class="form-control tbx_filtr" value="@(filters.filterDateTo?.ToString("yyyy-MM-dd"))" />
                                        </th>
                                        <th>
                                            <input asp-for="@filters.filterTitle" id="tbxTitle" type="text" class="form-control tbx_filtr" value="@filters.filterTitle" />
                                        </th>
                                        <th>
                                            <input asp-for="@filters.filterDesc" id="tbxDesc" type="text" class="form-control tbx_filtr" value="@filters.filterDesc" />
                                        </th>
                                        <th>
                                            <input asp-for="@filters.filterPlace" id="tbxPlace" type="text" class="form-control tbx_filtr" value="@filters.filterPlace" />
                                        </th>
                                        <th>
                                            <input asp-for="@filters.filterPriceFrom" id="tbxPriceFrom" type="text" placeholder="Od" class="form-control tbx_filtr" value="@filters.filterPriceFrom" />
                                            <input asp-for="@filters.filterPriceTo" id="tbxPriceTo" type="text" placeholder="Do" class="form-control tbx_filtr" value="@filters.filterPriceTo" />
                                        </th>
                                        <th>
                                            <input asp-for="@filters.filterTimeFrom" id="tbxTimeFrom" type="text" placeholder="Od" class="form-control tbx_filtr" value="@filters.filterTimeFrom" />
                                            <input asp-for="@filters.filterTimeTo" id="tbxTimeTo" type="text" placeholder="Do" class="form-control tbx_filtr" value="@filters.filterTimeTo" />
                                        </th>
                                        <th>
                                            <input asp-for="@filters.filterPeopleFrom" id="tbxPeople" type="text" placeholder="Od" class="form-control tbx_filtr" value="@filters.filterPeopleFrom" />
                                            <input asp-for="@filters.filterPeopleTo" id="tbxPeople" type="text" placeholder="Do" class="form-control tbx_filtr" value="@filters.filterPeopleTo" />
                                        </th>
                                        <th style="width: 120px;">
                                            <div class="input-group">
                                                <select asp-for="@filters.filterTags" id="comboTags" class="form-control custom-select multiselect dropdown-toggle combo_filtr button_combo_filtr input-sm" value="@filters.filterTags">
                                                    <option value="0">Wszystkie</option>
                                                    <option value="1">Aktualne</option>
                                                    <option value="2">Usunięte</option>
                                                </select>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr onclick="location.href = '@(Url.Action("Details", "Eventovo", new { id = item.Id }))'">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FinalEventDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EventName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EventDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EventPlace)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EstimatedCostPerPerson)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PeopleCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tags)
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            </form>
    </div>
</div>
